.Card {
  position: absolute;
  top: 7%;
  left: 2%;
  z-index: 2;
}
.Card .card-wrapper {
  background-color: #3c4b55;
  border-radius: 0;
}
.Card .card-wrapper .card-body {
  width: 350px;
  padding: 20px;
}
.Card .card-wrapper .card-body h4 {
  color: #ffff00;
}
.Card .card-wrapper .card-body p {
  font-size: 14px;
  color: #ffffff;
}
.Card .card-wrapper .card-body a {
  color: #3c4b55;
  background-color: #ffff00;
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
}
