.Header .navbar {
  background: #3c4b55 none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.Header .navbar .navbar-brand {
  color: #ffff00;
  font-size: 32px;
}
.Header .navbar .navbar-nav li a {
  color: #ffffff;
  font-size: 12px;
  text-shadow: none;
}
.Header .navbar .navbar-nav li a:hover {
  color: lightgray;
}
