.overlay {
  position: fixed;
  overflow: hidden;
  padding: 0 50px;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  left: initial;
  right: initial;
  height: 100%;
  top: initial;
  bottom: initial;
  background-color: #3c4b55; }
  .overlay .content {
    opacity: 0; }
  .overlay:before {
    position: absolute;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .overlay.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 200ms;
    transform: translateY(0px); }
    @media (min-width: 768px) {
      .overlay.active {
        display: none; } }
    .overlay.active:before {
      border-radius: 50%;
      top: 50%;
      left: 50%;
      display: block;
      -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .overlay.active .content {
      color: #ffffff;
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 3rem;
  bottom: 0;
  margin-top: 0;
  width: 30px;
  height: 50px;
  cursor: pointer;
  z-index: 11; }
  @media (min-width: 768px) {
    .hamburger-menu {
      display: none; } }

.bar {
  width: 30px;
  height: 5px;
  position: relative;
  transform: translateY(25px);
  background: #ffff00;
  transition: all 0ms 300ms; }
  .bar:after, .bar:before {
    width: 30px;
    height: 5px; }
  .bar.animate {
    background: rgba(255, 255, 255, 0); }
  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #ffff00;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: #ffff00;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
