.overlay {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 50px;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  right: initial;
  height: 100%;
  background-color: #3c4b55;
}
.overlay .content {
  opacity: 0;
}
.overlay .content .logo-responsive-menu {
  color: #ffff00;
  font-size: 32px;
  text-transform: uppercase;
  float: left;
  margin-top: 0.3rem;
}
.overlay .content ul {
  display: block;
  clear: both;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.overlay .content ul li {
  padding: 1rem 0;
  font-size: 1em;
}
.overlay .content ul li a {
  color: #ffff00;
  font-weight: lighter;
}
.overlay .content ul li a:hover {
  text-decoration: none;
}
.overlay:before {
  position: absolute;
  background: white;
  content: '';
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay.active {
  padding: 1rem;
  overflow: hidden;
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 200ms;
  transform: translateY(0px);
}
@media (min-width: 768px) {
  .overlay.active {
    display: none;
  }
}
.overlay.active:before {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay.active .content {
  color: #ffffff;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

[aria-hidden='true'] {
  transition: opacity 1s, z-index 0s 1s;
  width: 100vw;
  z-index: -1;
  opacity: 0;
}

[aria-hidden='false'] {
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: 1.5rem;
  bottom: 0;
  margin-top: 0;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 11;
}
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.bar {
  width: 40px;
  height: 5px;
  position: relative;
  transform: translateY(25px);
  background: #ffff00;
  transition: all 0ms 300ms;
}
.bar:after,
.bar:before {
  width: 40px;
  height: 5px;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}
.bar:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #ffff00;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  background: #ffff00;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.overflow-height-screen {
  overflow: hidden;
  height: 100%;
}
